@tailwind base;
@tailwind components;
@tailwind utilities;

.m-icon {
    font-family: "Material Icons", "MaterialIcons-Regular";
    font-weight: 400;
    font-size: 20;
    color: #0C0C1C;
}

.m-icon.outlined {
    font-family: "Material Icons Outlined", "MaterialIconsOutlined-Regular";
}

label {
    color: #0C0C1C;
}

.box-shadow {
    box-shadow: 0px px 4px 0px rgba(189, 189, 189, 0.75);;
}
.box-shadow_primary {
    box-shadow: 0 20px 20px rgb(255, 176, 147)
}

.color-primary {
    color: #EB764A;
}

.bg-primary {
    background: #EB764A;
}

