.m-icon {
    font-family: "Material Icons", "MaterialIcons-Regular";
    font-weight: 400;
    font-size: 20;
    color: #0C0C1C;
}

.m-icon.outlined {
    font-family: "Material Icons Outlined", "MaterialIconsOutlined-Regular";
}

label {
    color: #0C0C1C;
    font-family: "Roboto", "Roboto-Medium";
    font-weight: 500;
}